.dataTable th, td {
    text-align: center;
}

.dataTable  tr:nth-child(even) {
    background: rgba(0,0,0,0.05);
}
.chartDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    //border-style: groove;
    //border-color: #FCF8E3;
    //border-width: 1px;
}

.popTable {
    margin-top: 5px;
    border: 1px solid gray;
    width: 100%;
}

.popTable th, td {
    padding: 2px;
    border-bottom: 1px solid gray;
}

svg {
  font: 10px sans-serif;
}

/*
* Opacity
*/

.widget {
  margin-top: 4px;
  padding: 4px 4px 8px 4px;
  margin-bottom: 10px
  height: 36px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
 // float: right;
}

/*
 * This section for coordinates plot
*/
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-opacity: .8;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/*
 * This section for table grid
*/
.tableDiv {
  height: 198px;
  cursor:pointer;
}

.gridRow, .gridHeader {
  clear: left;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
}

.gridRow:nth-child(odd) {
   background: rgba(0,0,0,0.05);
}

.gridHeader {
  font-weight: bold;
}

.gridCell {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  height: 18px;
  text-align: center;
}

.gridCol-0 {
  width: 180px;
}

