<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Plotly.js -->
<link rel="stylesheet" href="/static/flowtools/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/flowtools/select2/select2.min.css"/>
<script src="/static/flowtools/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/flowtools/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/flowtools/select2/select2.full.min.js" type="text/javascript"></script>
<script src="/static/flowtools/d3/d3.min.js" type="text/javascript"></script>
<script src="/static/flowtools/plotly-latest.min.js" type="text/javascript"></script>
<script src="/static/flowtools/js/csOverview.js" type="text/javascript"></script>
<script src="/static/flowtools/js/crossSampleStackedArea.js" type="text/javascript"></script>
<script src="/static/flowtools/js/crossSampleStacked.js" type="text/javascript"></script>
<script src="/static/flowtools/js/pCoordCSstats.js" type="text/javascript"></script>
<script src="/static/flowtools/js/color_palette.js" type="text/javascript"></script>

<style>
#input{font-family:Calibri,Arial}
#div{padding:5px;width:150px;height:100px;text-align:center}
table{width:100%;border:0px solid;border-collapse:collapse;text-align:center;}
th{background-color:#3e6db0;color:#fff;padding:5px}

.chartDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
</style>
</head>

<body>
<div class="container-fluid">
    <div class="row" style="padding-bottom:10px;min-height:500px;">
        <div  class="col-md-12">
            <ul class="nav nav-tabs tabs-main">
                <li class="homeTab active" data-value="prop"><a href="#prop" data-toggle="tab">Population Distribution</a></li>
                <li class="homeTab" data-value="stackedA"><a href="#stackedA" data-toggle="tab">Stacked Area Plot</a></li>
                <li class="homeTab" data-value="stackedB"><a href="#stackedB" data-toggle="tab">Stacked Bar Plot</a></li>
                <li class="homeTab" data-value="pcoord"><a href="#pcoord" data-toggle="tab">Parallel Coordinates</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="prop" style="min-height:500px;">
                    <div id="propDiv">Population Distribution</div>
                </div>

                <div class="tab-pane" id="stackedA" style="min-height:500px;">
                    <div id="toolbarADiv" class="col-md-12 chartDiv">
                    <button id="updateDisplayA">Update Display</button>
                    </div>
                
                    <div class="col-md-12 charDiv">
                        <div id="plotDivA" class="col-md-10"></div>
                        
                        <div id="popDivA" class="col-md-2">
                            <table id="popTableA" border="0" width="100%">
                                <tr>
                                  <th align="center"><input type="checkbox" checked id="popSelectAllA"/></th>
                                  <th>#</th>
                                  <th>Color</th>
                                </tr>
                            </table>
                        </div>
                    </div>>
                </div>

                <div class="tab-pane" id="stackedB" style="min-height:500px;">
                    <div id="toolbarBDiv" class="col-md-12 chartDiv">
                    <button id="updateDisplayB">Update Display</button>
                    </div>
                
                    <div class="col-md-12 charDiv">
                        <div id="plotDivB" class="col-md-10"></div>
                        
                        <div id="popDivB" class="col-md-2">
                            <table id="popTableB" border="0" width="100%">
                                <tr>
                                  <th align="center"><input type="checkbox" checked id="popSelectAllB"/></th>
                                  <th>#</th>
                                  <th>Color</th>
                                </tr>
                            </table>
                        </div>
                    </div>>
                </div>
                    
                <div class="tab-pane" id="pcoord" style="min-height:500px;">
                    <div id="toolbarPCDiv" class="col-md-12 chartDiv">
                    <button id="updateDisplayPC">Update Display</button>
                    </div>
                
                    <div class="col-md-12 charDiv">
                        <div id="plotDivPC" class="col-md-10"></div>
                        
                        <div id="popDivPC" class="col-md-2">
                            <table id="popTablePC" border="0" width="100%">
                                <tr>
                                  <th align="center"><input type="checkbox" checked id="popSelectAllPC"/></th>
                                  <th>#</th>
                                  <th>Color</th>
                                 </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>


<script>
var outputDirectory = "{{ outputDirectory }}";

var poppropLoaded = false;
var stackedALoaded = false;
var stackedBLoaded = false;
var pCoordLoaded = false;

$().ready(function() {
    $(document).on('shown.bs.tab','a[data-toggle="tab"]', function(e) {
      var tab = e.target.getAttribute("href");
      if (tab == '#prop') {
        if (poppropLoaded) {
            return true;
        }
        poppropLoaded = true;
        displayProp();
      }
      if (tab == '#stackedA') {
        if (stackedALoaded) {
            return true;
        }
        stackedALoaded = true;
        displaystackedA();
      }
      if (tab == '#stackedB') {
        if (stackedBLoaded) {
            return true;
        }
        stackedBLoaded = true;
        displaystackedB();
      }
      if (tab == '#pcoord') {
        if (pCoordLoaded) {
            return true;
        }
        pCoordLoaded = true;
        displaypCoord();
      }
    });

    poppropLoaded = true;
    displayProp();
});
</script>
</body>
</html>
