<html>
<head>
<title>Flow Overview</title>
<link rel="stylesheet" href="/static/flowtools/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/flowtools/select2/select2.min.css"/>
<script src="/static/flowtools/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/flowtools/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/flowtools/select2/select2.full.min.js" type="text/javascript"></script>
<script src="/static/flowtools/d3/d3.min.js" type="text/javascript"></script>
<script src="/static/flowtools/plotly-latest.min.js" type="text/javascript"></script>
<script src="/static/flowtools/js/color_palette.js" type="text/javascript"></script>
<script src="/static/flowtools/js/overview.js" type="text/javascript"></script>
<script src="/static/flowtools/js/scatter2D.js" type="text/javascript"></script>
<script src="/static/flowtools/js/scatter3D.js" type="text/javascript"></script>
<script src="/static/flowtools/js/scatterMFI.js" type="text/javascript"></script>
<script src="/static/flowtools/js/scatter3DMFI.js" type="text/javascript"></script>



<style>
#input{font-family:Calibri,Arial}
#div{padding:5px;width:150px;height:100px;text-align:center}
table{width:100%;border:0px solid;border-collapse:collapse;text-align:center;}
th{background-color:#3e6db0;color:#fff;padding:5px}

.chartDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D3D3D3;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
</style>
</head>
<body>

<div class="container-fluid">
<div class="row" style="padding-bottom:10px;min-height:500px;">
    <div  class="col-md-12">
            <ul class="nav nav-tabs tabs-main">
                <li class="homeTab active" data-value="mfi"><a href="#mfi" data-toggle="tab">MFI/Pop</a></li>
                <li class="homeTab" data-value="overviewPlot"><a href="#overviewPlot" data-toggle="tab">Overview Plot</a></li>
                <li class="homeTab" data-value="scatter2D"><a href="#scatter2D" data-toggle="tab">Scatter 2D</a></li>
                <li class="homeTab" data-value="scatter3D"><a href="#scatter3D" data-toggle="tab">Scatter 3D</a></li>
                <li class="homeTab" data-value="scatter3DMFI"><a href="#scatter3DMFI" data-toggle="tab">Scatter 3D MFI</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="mfi" style="min-height:500px;">
                    <div id="mfiDiv">MFI</div>
                </div>

                <div class="tab-pane" id="overviewPlot" style="min-height:500px;">
                    <div id="overviewPlotDiv">Overview</div>
                </div>

                <div class="tab-pane" id="scatter2D" style="min-height:500px;">
                    <div id="toolbarDiv2D" class="col-md-12 chartDiv">
                    X Axis: <select id="xAxisMarker2D" style="width:150px;">
                            </select>
                    Y Axis: <select id="yAxisMarker2D" style="width:150px;">
                            </select>
                    View: <select id="view2D" style="width:150px;">
                            <option value="1">Points + MFI</option>
                            <option value="2">Points</option>
                            <option value="3">MFI</option>
                            </select>
                    <button id="updateDisplay2D">Update Display</button>
                    </div>
                
                    <div class="col-md-12 charDiv">
                    <div id="scatterPlotDiv2D" class="col-md-10"></div>
                    <div id="populationDiv2D" class="col-md-2">
                    <table id="populationTable2D" border="0" width="100%">
                    <tr>
                      <th align="center"><input type="checkbox" checked id="selectall2D"/></th>
                      <th>#</th>
                      <th>Color</th>
                      <th>%</th>
                    </tr>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="tab-pane" id="scatter3D" style="min-height:500px;">
                    <div id="toolbarDiv3D" class="col-md-12 chartDiv">
                    X Axis: <select id="xAxisMarker3D" style="width:150px;">
                            </select>
                    Y Axis: <select id="yAxisMarker3D" style="width:150px;">
                            </select>
                    Z Axis: <select id="zAxisMarker3D" style="width:150px;">
                            </select>
                    View: <select id="view3D" style="width:150px;">
                            <option value="1">Points + MFI</option>
                            <option value="2">Points</option>
                            <option value="3">MFI</option>
                            </select>
                    <button id="updateDisplay3D">Update Display</button>
                    </div>
                
                    <div class="col-md-12 charDiv">
                    <div id="scatterPlotDiv3D" class="col-md-10"></div>
                    <div id="populationDiv3D" class="col-md-2">
                    <table id="populationTable3D" border="0" width="100%">
                    <tr>
                      <th align="center"><input type="checkbox" checked id="selectall3D"/></th>
                      <th>#</th>
                      <th>Color</th>
                      <th>%</th>
                    </tr>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="tab-pane" id="scatter3DMFI" style="min-height:500px;">
                    <div id="toolbarDiv3DMFI" class="col-md-12 chartDiv">
                    X Axis: <select id="xAxisMarker3DMFI" style="width:200px;">
                            </select>
                    Y Axis: <select id="yAxisMarker3DMFI" style="width:200px;">
                            </select>
                    Z Axis: <select id="zAxisMarker3DMFI" style="width:200px;">
                            </select>
                    <button id="updateDisplay3DMFI">Update Display</button>
                    </div>
                
                    <div class="col-md-12 charDiv">
                    <div id="scatterPlotDiv3DMFI" class="col-md-10"></div>
                    <div id="populationDiv3DMFI" class="col-md-2">
                    <table id="populationTable3DMFI" border="0" width="100%">
                    <tr>
                      <th align="center"><input type="checkbox" checked id="selectall3DMFI"/></th>
                      <th>#</th>
                      <th>Color</th>
                      <th>%</th>
                    </tr>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var outputDirectory = "{{ outputDirectory }}";
var mfiLoaded = false;
var populationLoaded = false;
var overviewPlotLoaded = false;
var scatter2DLoaded = false;
var scatter3DLoaded = false;
var scatter3DMFILoaded = false;

$().ready(function() {
    $(document).on('shown.bs.tab','a[data-toggle="tab"]', function(e) {
      var tab = e.target.getAttribute("href");
      if (tab == '#mfi') {
        if (mfiLoaded) {
            return true;
        }
        mfiLoaded = true;
        displayMFI();
      }
      //if (tab == '#population') {
      //  if (populationLoaded) {
      //      return true;
      //  }
      //  populationLoaded = true;
      //  displayPopulation();
      // }
      if (tab == '#overviewPlot') {
        if (overviewPlotLoaded) {
            return true;
        }
        overviewPlotLoaded = true;
        displayOverviewPlot();
      }
      if (tab == '#scatter2D') {
        if (scatter2DLoaded) {
            return true;
        }
        scatter2DLoaded = true;
        displayScatter2D();
      }
      if (tab == '#scatter3D') {
        if (scatter3DLoaded) {
            return true;
        }
        scatter3DLoaded = true;
        displayScatter3D();
      }
      if (tab == '#scatter3DMFI') {
        if (scatter3DMFILoaded) {
            return true;
        }
        scatter3DMFILoaded = true;
        displayScatter3DMFI();
      }
    });

    mfiLoaded = true;
    displayMFI();
});
</script>
</body>
</html>
